.DS_Store 
*/.DS_Store 
code/video/
code/faces/
code/local_swin_model/
code/face_video/
code/EEGData/
code/data_preprocessed_matlab/
code/_pycache_/
.vscode/settings.json
requirements.txt
code/best_model_fast_run.pth
code/__pycache__/model.cpython-310.pyc
code/train.log
code/train_kfold.log
code/train_fast.log
code/EEG_preprocessing.ipynb
